<footer id="footer" class="text-center">
    <div class="container">
        <div class="row">
            <div class="logotipo col-sm-12">
                <a href="#/">
                    <img src="assets/img/auxi/logotipo-crowdbook.svg" alt="Crowdbook" title="Crowdbook" width="160" height="30">
                </a>
            </div>
            <span class="clearfix"></span>
            <div class="buscador col-md-4 col-md-offset-4 col-sm-12">
                <div class="form-group">
                    <input type="text" class="form-control form-control-border-white" placeholder="Buscar en CrowdBook">
                    <span class="sprite-search"></span>
                </div>
                <ul class="list-unstyled list-inline paises">
                    <li class="active"><a href="#">Chile</a></li>
                    <li><a href="#">Argentina</a></li>
                    <li><a href="#">Perú</a></li>
                    <li><a href="#">Brasil</a></li>
                    <li><a href="#">Colombia</a></li>
                </ul>
            </div>

            <span class="clearfix"></span>

            <nav class="navegacion-simple col-md-7 text-left">
                <ul class="list-unstyled list-inline">
                    <li><a href="#">Regístrate</a></li>
                    <li> · </li>
                    <li><a href="#">Regístrate</a></li>
                    <li> · </li>
                    <li><a href="#">Inicia sesión</a></li>
                    <li> · </li>
                    <li><a href="#">Blog</a></li>
                    <li> · </li>
                    <li><a href="#">Historias</a></li>
                    <li> · </li>
                    <li><a href="#">Catálogos</a></li>
                    <li> · </li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </nav>
            <nav class="navegacion-simple col-md-5 text-right">
                <ul class="list-unstyled list-inline">
                    <li><a href="#">Internacional</a></li>
                    <li> · </li>
                    <li><a href="#">Prensa</a></li>
                    <li> · </li>
                    <li><a href="#">Contacto comercial</a></li>
                    <li> · </li>
                    <li><a href="#">Alianzas</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>