<header ng-controller="loginCtrl" id="header">
    <span class="sombra"></span>
    <div class="container">
        <div class="row">
            <div class="logotipo col-sm-2">
                <a href="#/">
                    <img src="assets/img/auxi/logotipo-crowdbook.svg" alt="Crowdbook" title="Crowdbook" width="160" height="30">
                </a>
            </div>
            <div class="col-sm-2">
                <article ng-show="isLoggedIn" class="usuario">
                    <div class="foto-perfil">
                        <img class="img-circle" ng-src="{{usuario.img}}" alt="{{usuario.nombre}}" title="{{usuario.nombre}}" width="30" height="30">
                    </div>
                    <div class="info">
                        <h1 class="nombre">{{usuario.nombre}}</h1>
                        <a class="btn btn-link btn-sesion" ng-show="isLoggedIn" ng-click="logout()" href="#/">Cerrar sesión</a>
                    </div>
                    <span class="clearfix"></span>
                </article>
                <a class="btn btn-link btn-sesion fancybox fancybox.inline" ng-hide="isLoggedIn" href="#inline-login">Iniciar sesión</a>
            </div>

            <nav class="col-sm-8">
                <ul class="list-unstyled list-inline text-right">
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-white-minimal dropdown-toggle" id="btnRegion" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Valparaíso <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="btnRegion">
                                <li><a href="#/">Valparaíso</a></li>
                                <li><a href="#/">Pronto...</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-white-minimal dropdown-toggle" id="btnIdioma" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ES <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="btnIdioma">
                                <li><a href="#/inicio">ES</a></li>
                                <li><a href="#/home">EN</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#/#video" onclick="$('#video .fancybox').click();">Video</a></li>
                    <li><a href="#/#faq">Preguntas frecuentes</a></li>
                    <li><a href="#/#stories">Historias</a></li>
                    <!--<li><a href="#/books">Catálogo</a></li>-->
                    <li><a class="btn btn-success typeform-share link" data-mode="2" target="_blank" href="https://fixe.typeform.com/to/rIm2qJ">Regístrate gratis</a></li>
                </ul>
            </nav>
            <span class="clearfix"></span>
        </div>
    </div>
    <div ng-hide="isLoggedIn" id="inline-login">
        <button type="button" ng-click="login('google')" class="btn btn-lg btn-danger btn-block">Ingresar con Google</button>
        <button type="button" ng-click="login('facebook')" class="btn btn-lg btn-primary btn-block">Ingresar con Facebook</button>
    </div>
</header>