<section id="busqueda">
    <div class="container">
        <div class="row" id="formulario-busqueda">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon" id="libro-usado">Tengo</span>
                            <input class="form-control" ng-model="serviceDatosBusqueda.tengo" ng-keyup="search()" placeholder="estilos y libros..." type="text" aria-describedby="libro-usado">
                        </div>
                    </div>
                    <div class="col-sm-3 no-padding">
                        <div class="form-group">
                            <input autocomplete="on" autocorrect="off" class="form-control" ng-keyup="search()" ng-model="serviceDatosBusqueda.query" placeholder="A cambio quiero..." spellcheck="true" type="text" aria-label="A cambio quiero...">
                            <span class="sprite-search"></span>
                        </div>
                    </div>
                    <div class="col-sm-4 no-padding">
                        <div class="input-group">
                            <span class="input-group-addon texto-ayuda" id="libro-usado">que cueste menos de</span>
                            <input class="form-control" ng-model="serviceDatosBusqueda.valor" ng-keyup="search()" placeholder="$0.000" type="text" aria-label="X cantidad de pesos">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CLP <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">CLP</a></li>
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">EUR</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 text-left">
                        <button class="btn btn-success">Publicar</button>
                    </div>
                </div>
                <span class="ayuda"><span class="glyphicon glyphicon-warning-sign"></span> Presiona "publicar" para guardar tu búsqueda. Cuéntanos de tu libro y te avisaremos cuando encontremos tu Match perfecto.</span>
            </div>
        </div>
    </div>
</section>
<section id="resultados">
    <div class="container">
        <div class="row">
            <!-- Resultado -->
            <article class="col-sm-12 resultado hit" ng-repeat="hit in hits">
                <div class="row">
                    <div class="foto col-lg-1 col-sm-2">
                        <img class="img-responsive" ng-src="{{ hit.img.src || 'https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_80x80_v1.png' }}">
                    </div>
                    <div class="col-sm-6">
                        <span class="autor">Publicado por: <a href="#" title="Ver perfil"><span ng-bind="hit.autor.nombre"></span></a></span>
                        <h1 class="nombre"><div ng-bind-html="hit._highlightResult.nombre.value"></div></h1>
                        <div class="descripcion"><p ng-bind-html="hit._highlightResult.descripcion.value"></p></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="etiquetas">
                            <h3 class="titular">Etiquetas:</h3>
                            <span class="etiqueta" ng-repeat="tag in hit._highlightResult._tags">
                                <span ng-bind-html="tag.value"></span>
                            </span>
                        </div>
                        <div class="busco">
                            <h3 class="titular">Estoy buscando:</h3>
                            <p ng-bind-html="hit.busco"></p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p>He recibido <span ng-bind="hit.ofertas"></span> ofertas.</p>
                        <a href="#" title="Ofrecer algo a cambio" class="btn btn-primary btn-block">Ofrecer intercambio</a>
                        <a href="#" title="Comprar" class="btn btn-success btn-block">Comprar: $<span ng-bind="hit.valor"></span></a>
                    </div>
                </div>
            </article>
            <!-- FIN Resultado -->

            <span class="clearfix"></span>
            <p ng-show="!hits.length" class="text-center col-sm-12"><strong>:( Lo sentimos:</strong> no encontramos ningún resultado para su búsqueda.</p>
            <div class="col-sm-8 col-sm-offset-2 alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                <strong>¿No está lo que buscas?</strong> Intenta con <a href="#">BuscaLibre</a> donde puedes comprar libros nuevos sin IVA.
            </div>
        </div>
    </div>
</section>