<section id="intro">
    <div class="container text-center">
        <h1 class="rotulo">¿Tienes ganas de <strong>leer</strong> algo nuevo?</h1>
        <h2 class="bajada">Tenemos <strong>1137 libros</strong> usados para intercambiar o comprar <em>a bajos precios</em>.</h2>
        <span class="punto-separador"></span>
        <p class="descripcion">Dale <strong>nueva vida</strong> a tus <em>libros viejos</em>, puedes <strong>pedir dinero y otros libros</strong> a cambio.</p>
        <form action="#/busqueda" onsubmit="$(this).find('#submit').trigger('click'); return false;">
            <div class="row" id="formulario-busqueda">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="libro-usado">Tengo</span>
                                <input type="text" class="form-control" ng-model="serviceDatosBusqueda.tengo" placeholder="libros y géneros..." aria-describedby="libro-usado">
                            </div>
                        </div>
                        <div class="col-sm-3 no-padding">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="serviceDatosBusqueda.query" placeholder="A cambio quiero..." aria-label="A cambio quiero...">
                                <span class="sprite-search"></span>
                            </div>
                        </div>

                        <div class="col-sm-4 no-padding">
                            <div class="input-group">
                                <span class="input-group-addon texto-ayuda" id="libro-usado">que cueste menos de</span>
                                <input type="text" class="form-control" ng-model="serviceDatosBusqueda.valor" placeholder="$0.000" aria-label="X cantidad de pesos">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CLP <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">CLP</a></li>
                                        <li><a href="#">USD</a></li>
                                        <li><a href="#">EUR</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 text-left">
                            <button onclick="window.location.href='#/busqueda'; return false;" type="submit" id="submit" class="btn btn-success">¡Vamos!</button>
                        </div>
                    </div>
                    <span class="ayuda"><span class="glyphicon glyphicon-warning-sign"></span> Comienza a escribir algo como: “aventura”, “Game of Thrones” o “terror”. El sistema intentará  autocompletar el libro o categoría.</span>
                </div>
            </div>
        </form>
        <div class="ver-video"><a href="#/#video" onclick="$('#video .fancybox').click();">Ve nuestro video<br><span class="sprite-flecha-video"></span></a></div>
    </div>
</section>

<section id="video">
    <span class="bg-black"></span>
    <div class="info text-center">
        <div class="content">
            <a class="btn btn-link fancybox fancybox.iframe" href="https://www.youtube.com/embed/VAyWIypLCH0?autoplay=1"><span class="sprite-play-video"></span></a>
            <h1 class="titular">¿Cómo funciona <strong>Crowd</strong>Book?</h1>
            <span class="ayuda">Presiona el botón play</span>
        </div>
    </div>
</section>

<section id="process">
    <div class="container">
        <div class="row">
            <!-- Header -->
            <header class="text-center col-sm-8 col-sm-offset-2">
                <h1 class="rotulo">Cómo comprar e intercambiar en <strong>Crowd</strong>Book.</h1>
                <h2 class="bajada">Si tienes libros en casa puedes <strong>cambiarlos por otro</strong> que aún no hayas leído, o usarlo como <em>parte de pago</em> para comprar otro libro evaluado a un precio mayor.</h2>
            </header>
            <!-- FIN Header -->

            <!-- Pasos -->
            <div class="pasos col-sm-12">
                <div class="row">
                    <article class="paso col-sm-3">
                        <div class="foto text-center">
                            <img src="assets/img/fotos/160x90-1.png" alt="Sube tus libros antiguos" title="Sube tus libros antiguos" width="160" height="90">
                        </div>
                        <h2 class="titular"><strong>1.</strong> Sube tus libros antiguos</h2>
                        <div class="cuerpo">
                            <p>Puedes subir tus libros usados y –a cambio– aceptar dinero u otros libros. Nosotros encontraremos usuarios que busquen lo que ofreces y tengan lo que pides a cambio.</p>
                        </div>
                    </article>
                    <article class="paso col-sm-3">
                        <div class="foto text-center">
                            <img src="assets/img/fotos/150x105-1.png" alt="Sube tus libros antiguos" title="Sube tus libros antiguos" width="150" height="105">
                        </div>
                        <h2 class="titular"><strong>2.</strong> Realiza y recibe ofertas</h2>
                        <div class="cuerpo">
                            <p>Podrás <strong>ofrecer dinero y libros</strong> a otros lectores. Los pagos se congelan por seguridad hasta que realicen el intercambio. <a href="#"><span class="glyphicon glyphicon-question-sign"></span> Más sobre seguridad</a></p>
                        </div>
                    </article>
                    <article class="paso col-sm-3">
                        <div class="foto text-center">
                            <img src="assets/img/fotos/155x105-1.png" alt="Sube tus libros antiguos" title="Sube tus libros antiguos" width="150" height="105">
                        </div>
                        <h2 class="titular"><strong>3.</strong> Intercambio seguro de libros</h2>
                        <div class="cuerpo">
                            <p>Te enviaremos un <strong>código único</strong> que deberás darle a tu contraparte una vez realicen el intercambio físico. Esto liberará los pagos.</p>
                        </div>
                    </article>
                    <article class="paso col-sm-3">
                        <div class="foto text-center">
                            <img src="assets/img/fotos/85x55-1.png" alt="Sube tus libros antiguos" title="Sube tus libros antiguos" width="85" height="55">
                        </div>
                        <h2 class="titular"><strong>4.</strong> Disfruta tu nuevo libro</h2>
                        <div class="cuerpo">
                            <p>Felicidades, ya tienes <strong>una nueva historia</strong> que leer y conociste un amigo <em>con tus mismos</em> gustos literarios.</p>
                        </div>
                    </article>
                    <span class="clearfix"></span>
                </div>
            </div>
            <!-- FIN Pasos -->

            <!-- Acciones -->
            <nav class="acciones col-sm-12">
                <ul class="list-unstyled list-inline text-center">
                    <li><a href="#" class="btn btn-primary">Conocer más</a></li>
                    <li><a href="#/#video" onclick="$('#video .fancybox').click();" class="btn btn-white">Ver nuestro video</a></li>
                </ul>
            </nav>
            <!-- FIN Acciones -->
        </div>
    </div>
</section>

<section id="stories">
    <h1 class="rotulo">Qué dice la gente de <strong>Crowd</strong>Book</h1>
    <div class="container-fluid">
        <div class="row">
            <article id="story-a" class="story col-sm-7">
                <div class="content">
                    <div class="foto">
                        <!--<img src="assets/img/fotos/760x470-1.jpg" alt="Antes de conocer CrowdBook me daba
    verguenza comentar mis gustos literarios." title="Antes de conocer CrowdBook me daba
    verguenza comentar mis gustos literarios." width="760" height="470">-->
                    </div>
                    <div class="info">
                        <span class="sprite-comillas"></span>
                        <h2 class="titular"><a href="#">Antes de conocer <strong>Crowd</strong>Book me daba verguenza comentar mis gustos literarios.</a></h2>
                        <div class="foto-usuario">
                            <img src="assets/img/fotos/39x39-1.png" alt="Usuario" title="Usuario" width="39" height="39">
                        </div>
                        <p class="bajada">Fue algo sorpresivo. Alguien me recomendó CrowdBook. Lo que no imaginé era que estaba ganando mucho más que un libro... estaba ganando grandes amistades. Gente con la que podía sentirme yo.</p>
                        <span class="clearfix"></span>

                        <nav class="acciones">
                            <ul class="list-unstyled list-inline text-right">
                                <li><a href="#">Conocer esta historia</a></li>
                                <li><a href="#">¡Comparte la tuya!</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </article>
            <article id="story-b" class="story col-sm-5">
                <div class="content">
                    <!--<div class="foto">
                        <img src="assets/img/fotos/515x470-1.png" alt="Gracias a CrowdBook conocí personas
    inolvidables; amigos unidos por la lectura." title="Gracias a CrowdBook conocí personas
    inolvidables; amigos unidos por la lectura." width="515" height="470">
                    </div>-->
                    <div class="info">
                        <span class="sprite-comillas"></span>
                        <h2 class="titular"><a href="#">Gracias a <strong>Crowd</strong>Book conocí personas inolvidables; amigos unidos por la lectura.</a></h2>
                        <div class="foto-usuario">
                            <img src="assets/img/fotos/39x39-2.png" alt="Usuario" title="Usuario" width="39" height="39">
                        </div>
                        <p class="bajada">En CrowdBook queremos unir a las personas por su amor a la lectura. Andrés nos cuenta su experiencia de cómo, gracias a CrowdBook y un simple intercambio de libro, lo llevó a conocer a un grupo de amigos con los que ahora se reune cada mes.</p>
                        <span class="clearfix"></span>

                        <nav class="acciones">
                            <ul class="list-unstyled list-inline text-right">
                                <li><a href="#">Conocer esta historia</a></li>
                                <li><a href="#">¡Comparte la tuya!</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<section id="register" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="rotulo">Comienza a vivir <strong>nuevas experiencias</strong>.</h1>
                <h2 class="epigrafe">Intercambia tus libros viejos y adquiere otros nuevos.</h2>
                <span class="punto-separador"></span>
                <p class="descripcion">Comienza a publicar tus libros <strong>completamente gratis</strong>.</p>
                <div class="botones">
                    <a href="#" class="btn btn-primary">Conocer más</a>
                    <a class="btn btn-success typeform-share link" data-mode="2" target="_blank" href="https://fixe.typeform.com/to/rIm2qJ">Regístrate gratis</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<div class="container">
    Bienvenido a Darts: {{ pagina.wrapper }}

    <input type="text" ng-model="data.mensaje">
    <h1>You said: {{ data.mensaje }}</h1>
</div>
-->