<section id="login">
    <div class="container">
        <div class="row">
            <button type="button" ng-click="login()" class="btn btn-lg btn-primary btn-block">Ingresar con Google</button>
            <button type="button" ng-click="login()" class="btn btn-lg btn-primary btn-block">Ingresar con Facebook</button>
        </div>
    </div>
</section>