<section id="intro">
    <div class="container text-center">
        <h1 class="rotulo">Are you looking forward to <strong> read </strong> something new?</h1>
        <h2 class="bajada">We have <strong>1137 used books</strong> waiting to be exchanged or purchased <em>at really low prices</em>.</h2>
        <span class="punto-separador"></span>
        <p class="descripcion">Let us give <strong>new life</strong> to your <em>old books</em>, you can <strong>ask for money or other books</strong> in exchange.</p>

        <div class="row" id="formulario-busqueda">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="libro-usado">I've got an old book</span>
                            <input type="text" class="form-control" placeholder="called..." aria-describedby="libro-usado">
                        </div>
                    </div>
                    <div class="col-sm-3 no-padding">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="In exchange, I want..." aria-label="In exchange, I want...">
                            <span class="sprite-search"></span>
                        </div>
                    </div>
                    <div class="col-sm-3 no-padding">
                        <div class="input-group">
                            <span class="input-group-addon texto-ayuda" id="libro-usado">or</span>
                            <input type="text" class="form-control" placeholder="$0.000" aria-label="X amount of money">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CLP <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">CLP</a></li>
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">EUR</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 text-left">
                        <button class="btn btn-success">Let's go!</button>
                    </div>
                </div>
                <span class="ayuda"><span class="glyphicon glyphicon-warning-sign"></span>You could specify something like "adventure", "Game of Thrones" or "terror". Our system will attempt to auto-complete your book or category.</span>
            </div>
        </div>
        <div class="ver-video"><a href="#/#video" onclick="$('#video .fancybox').click();">Watch our video<br><span class="sprite-flecha-video"></span></a></div>
    </div>
</section>

<section id="video">
    <span class="bg-black"></span>
    <div class="info text-center">
        <div class="content">
            <a class="btn btn-link fancybox fancybox.iframe" href="https://www.youtube.com/embed/VAyWIypLCH0?autoplay=1"><span class="sprite-play-video"></span></a>
            <h1 class="titular">How does <strong>Crowd</strong>Book work?</h1>
            <span class="ayuda">Press the play button</span>
        </div>
    </div>
</section>

<section id="process">
    <div class="container">
        <div class="row">
            <!-- Header -->
            <header class="text-center col-sm-8 col-sm-offset-2">
                <h1 class="rotulo">How to buy and exchange books in <strong>Crowd</strong>Book.</h1>
                <h2 class="bajada">If you have any old book at home, you can <strong>exchange them</strong>, or use them as <em>part-payment</em> to buy any book you like.</h2>
            </header>
            <!-- FIN Header -->

            <!-- Pasos -->
            <div class="pasos col-sm-12">
                <div class="row">
                    <article class="paso col-sm-3">
                        <div class="foto text-center">
                            <img src="assets/img/fotos/160x90-1.png" alt="Upload your old books" title="Upload your old books" width="160" height="90">
                        </div>
                        <h2 class="titular"><strong>1.</strong> Upload your old books</h2>
                        <div class="cuerpo">
                            <p>You can upload your used books and accept money or books. We will find users looking for what you're offering that have exactly what you're asking for in return.</p>
                        </div>
                    </article>
                    <article class="paso col-sm-3">
                        <div class="foto text-center">
                            <img src="assets/img/fotos/150x105-1.png" alt="Make and receive offers" title="Make and receive offers" width="150" height="105">
                        </div>
                        <h2 class="titular"><strong>2.</strong> Make and receive offers</h2>
                        <div class="cuerpo">
                            <p>You will be able to <strong>offer money and books</strong> to the reading community. Payments will be frozen for security reasons until you complete the book exchange. <a href="#"><span class="glyphicon glyphicon-question-sign"></span> More about security</a></p>
                        </div>
                    </article>
                    <article class="paso col-sm-3">
                        <div class="foto text-center">
                            <img src="assets/img/fotos/155x105-1.png" alt="Secure book exchange" title="Secure book exchange" width="150" height="105">
                        </div>
                        <h2 class="titular"><strong>3.</strong> Secure book exchange</h2>
                        <div class="cuerpo">
                            <p>We'll send you a <strong>unique code</strong>. You must give it to the other user once you complete the book exchange. This will release any frozen payment.</p>
                        </div>
                    </article>
                    <article class="paso col-sm-3">
                        <div class="foto text-center">
                            <img src="assets/img/fotos/85x55-1.png" alt="Enjoy your new book" title="Enjoy your new book" width="85" height="55">
                        </div>
                        <h2 class="titular"><strong>4.</strong> Enjoy your new book</h2>
                        <div class="cuerpo">
                            <p>Congratulations, you can now read <strong>a completely new story</strong> and you actually met a new friend <em>with the same</em> literary tastes you have.</p>
                        </div>
                    </article>
                    <span class="clearfix"></span>
                </div>
            </div>
            <!-- FIN Pasos -->

            <!-- Acciones -->
            <nav class="acciones col-sm-12">
                <ul class="list-unstyled list-inline text-center">
                    <li><a href="#" class="btn btn-primary">Read more</a></li>
                    <li><a href="#/#video" onclick="$('#video .fancybox').click();" class="btn btn-white">Watch our video</a></li>
                </ul>
            </nav>
            <!-- FIN Acciones -->
        </div>
    </div>
</section>

<section id="stories">
    <h1 class="rotulo">What is people saying about <strong>Crowd</strong>Book</h1>
    <div class="container-fluid">
        <div class="row">
            <article id="story-a" class="story col-sm-7">
                <div class="content">
                    <div class="foto">
                        <!--<img src="assets/img/fotos/760x470-1.jpg" alt="Antes de conocer CrowdBook me daba
    verguenza comentar mis gustos literarios." title="Antes de conocer CrowdBook me daba
    verguenza comentar mis gustos literarios." width="760" height="470">-->
                    </div>
                    <div class="info">
                        <span class="sprite-comillas"></span>
                        <h2 class="titular"><a href="#">Before knowing <strong>Crowd</strong>Book, I was embarrassed to discuss my literary tastes with... well, everyone.</a></h2>
                        <div class="foto-usuario">
                            <img src="assets/img/fotos/39x39-1.png" alt="Usuario" title="Usuario" width="39" height="39">
                        </div>
                        <p class="bajada">It was somewhat surprising. Someone recommended me CrowdBook. I never imagined that I was getting so much more than a book ... I was making great friends.</p>
                        <span class="clearfix"></span>

                        <nav class="acciones">
                            <ul class="list-unstyled list-inline text-right">
                                <li><a href="#">Read more</a></li>
                                <li><a href="#">Share your story!</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </article>
            <article id="story-b" class="story col-sm-5">
                <div class="content">
                    <!--<div class="foto">
                        <img src="assets/img/fotos/515x470-1.png" alt="Gracias a CrowdBook conocí personas
    inolvidables; amigos unidos por la lectura." title="Gracias a CrowdBook conocí personas
    inolvidables; amigos unidos por la lectura." width="515" height="470">
                    </div>-->
                    <div class="info">
                        <span class="sprite-comillas"></span>
                        <h2 class="titular"><a href="#">Thanks to <strong>Crowd</strong>Book I met memorable people; friends united by literature.</a></h2>
                        <div class="foto-usuario">
                            <img src="assets/img/fotos/39x39-2.png" alt="Usuario" title="Usuario" width="39" height="39">
                        </div>
                        <p class="bajada">In CrowdBook, we bring people together because of their love of reading. Andrew shared his experience on how, thanks to a simple CrowdBook exchange, he met a group of friends that get together every month.</p>
                        <span class="clearfix"></span>

                        <nav class="acciones">
                            <ul class="list-unstyled list-inline text-right">
                                <li><a href="#">Read more</a></li>
                                <li><a href="#">Share your story!</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<section id="register" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="rotulo">Start living <strong>new experiences</strong>.</h1>
                <h2 class="epigrafe">Exchange your old books and acquire new ones.</h2>
                <span class="punto-separador"></span>
                <p class="descripcion">Start publishing your books <strong>completely free</strong>.</p>
                <div class="botones">
                    <a href="#" class="btn btn-primary">Read more</a>
                    <a class="btn btn-success typeform-share link" data-mode="2" target="_blank" href="https://fixe.typeform.com/to/rIm2qJ">Register for free</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<div class="container">
    Bienvenido a Darts: {{ pagina.wrapper }}

    <input type="text" ng-model="data.mensaje">
    <h1>You said: {{ data.mensaje }}</h1>
</div>
-->