/*-------------------------------------------------------------------------
--------------------------------- Global ----------------------------------
-------------------------------------------------------------------------*/

/*-------------------- Comunes --------------------*/
html body {background: #f0f0f0; /*font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;*/}
.no-padding {
    @media screen and (min-width: $break-sm) {
        padding-left: 0;
        padding-right: 0;
    }
}
.punto-separador {
    width: 5px;
    height: 5px;
    margin: 1.2em 0 1em;
    background: white;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
#inline-login {
    display: none;
}

/*-------------------- Header --------------------*/
#header {
    @include transition(background-color .4s .3s, color 1s);
    &:hover {
        background-color: rgba(0,20,45,.7);
    }

    .sombra {
        background: url(../img/bg/sombra-10x66-opac50.png) repeat-x left top;
        background-size: auto 100%;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .container {
        position: relative;
        z-index: 3;
    }
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;

    .btn-sesion {
        padding: .4em 0;
        color: white;
        font-size: 1em;
    }

    .usuario {
        .foto-perfil {
            float: left;
            width: 20%;

            img {
                width:100%;
                height: auto;
            }
        }
        .info {
            float: right;
            width:70%;

            .nombre {
                color: white;
                font-weight: bold;
                margin: 0;
                font-size: .9em;
            }
            .btn-sesion {
                padding: 0;
                font-size: .8em;
            }
        }
    }

    nav {
        ul {
            margin-bottom: 0;

            li {
                color: white;
                font-style: italic;
                font-size: 1em;

                a:not(.btn) {
                    display: block;
                    padding: .35em .6em;
                    color: white;
                }

                .btn {
                    font-style: normal;
                }
            }
        }
        .dropdown {
            &.open {
                .dropdown-toggle {
                    background: black;
                    color: white;
                }
            }

            .dropdown-menu {
                margin-top:.3em;
                padding:0;
                border-radius: 0;

                li {
                    a {
                        color: black;

                        &:hover {
                            background: black;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}


/*-------------------- Footer --------------------*/
#footer {
    background: $color-azul-footer;
    color: white;
    padding: 3em 0;

    .logotipo {
        margin-bottom: 1em;
    }

    .buscador {
        margin-bottom: 2em;

        .form-group {
            margin-bottom: .5em;
            position: relative;

            .form-control {
                height:45px;
                border: 1px white solid;
                background: none;
                border-radius: 0;
                @include input-placeholder(#a9a9a9);
            }

            .input-group-btn .btn, .input-group-addon {
                height:45px;
                border: 1px white solid;
                border-radius: 0;
            }

            .sprite-search {
                position: absolute;
                right: 1.2em;
                top: 1.1em;
            }
        }

        .paises {
            li {
                font-size: .9em;

                a {
                    font-style: italic;
                    color: $color-gris-semi;
                }

                &.active {
                    a {
                        font-weight: bold;
                        color: white;
                    }
                }
            }
        }
    }

    .navegacion-simple {
        @media (max-width: $break-md) {
            &:last-child {
                margin-top: 1.5em;
            }
            text-align: center;
        }

        ul {
            margin:0;

            li {
                padding: 0;
                font-size: .9em;
                font-style: italic;

                a {
                    color: white;
                }
            }
        }
    }
}




/*--------------------------------------------------------------------------
--------------------------- Global - Responsive ----------------------------
--------------------------------------------------------------------------*/
@media (max-width: 1199px) {

}

@media (max-width: 991px) {
}

@media (max-width: 47em) {
}

@media (max-width: 480px) {
}