/*-------------------------------------------------------------------------
--------------------------------- Modulos ----------------------------------
-------------------------------------------------------------------------*/
.seccion-comun {
    position: relative;
    z-index: 1;

    .rotulo {
        font-weight: lighter;
        font-size: 2.5em;
        margin:0 0 .2em;
    }

    .bajada {
        margin: 0;
        font-weight: normal;
        font-size: 1.4em;
    }

    .foto-principal {
        img {
            width:100%;
            height: auto;
        }
    }
}

#formulario-busqueda {
    margin-top: 3em;

    .form-control {
        height:45px;
        border: 1px white solid;
        background: none;
        border-radius: 0;
        color: white;
        @include input-placeholder(#d9d9d9);
    }

    .input-group-btn .btn, .input-group-addon {
        height:45px;
        border: 1px white solid;
        border-radius: 0;
    }

    .sprite-search {
        position: absolute;
        right: 1.2em;
        top: 1.1em;
    }

    .texto-ayuda {
        background:none;
        border: none;
        color: #d9d9d9;
        position: relative;
    }

    .ayuda {
        display: block;
        text-align: center;
        font-size: .9em;
        font-style: italic;
        color:#c9c9c9v;
    }

    .btn-success {
        height:45px;
        border-radius: 0;
    }

    @media screen and (max-width: $break-sm) {
        .form-group, .input-group, .btn {
            margin-bottom: 1em;
        }

        .sprite-search {
            right: 2em;
        }
    }
}

#wrap-inicio {

    /* =====================================================
    ==================== Sección: Intro ====================
    ====================================================== */
    #intro {
        @extend .seccion-comun;
        background: url('../img/bg/1280x740-1.jpg') no-repeat left top;
        background-size: cover;
        @media (max-width: $break-lg) {
            padding: 12em 0;
        }
        @media (min-width: $break-lg) {
            padding: 16em 0;
        }
        color: white;

        .ver-video {
            position: absolute;
            left: 0;
            bottom: 1em;
            width:100%;
            font-size: .9em;
            color: white;

            a {
                color: white;
            }

            .sprite-flecha-video {
                margin: .8em 0 0;
            }
        }
    }
    /* FIN Sección: Intro */



    /* =====================================================
    ==================== Sección: Video ====================
    ====================================================== */
    #video {
        @extend .seccion-comun;
        background: url('../img/bg/1280x530-1.jpg') no-repeat left top;
        background-size: cover;
        padding: 16em 0;
        color: white;

        .bg-black {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(0,0,0,.6);
        }

        .info {
            z-index: 3;
            position: relative;
            color: white;

            .titular {
                margin: 0 0 .2em;
                font-style: 2em;
                font-weight: lighter;
            }

            .ayuda {
                font-size: 1.1em;
            }
        }
    }
    /* FIN Sección: Video */


    /* =======================================================
    ==================== Sección: Proceso ====================
    ======================================================== */
    #process {
        @extend .seccion-comun;
        background: url('../img/bg/1280x740-2.jpg') no-repeat left top;
        background-size: cover;
        padding: 4em 0 3.5em;
        color: white;

        .pasos {
            margin: 4.5em 0;

            .paso {
                .foto {
                    min-height: 8em;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    align-content: center;

                    img {
                        margin: 0 auto;
                    }
                }
                .titular {
                    font-size: 1.3em;
                    padding-bottom: .5em;
                    border-bottom: 3px white solid;
                }
                .bajada {
                    font-size: 1.1em;
                }
                .cuerpo {
                    p {
                        text-align: justify;;
                        font-style: 1.2em;
                    }
                    a {
                        padding: .2em 0 .3em;
                        color: white;
                        text-decoration: underline;
                        &:hover {
                            background: black;
                        }
                    }
                }
            }
        }

        .acciones {
            ul {
                margin-bottom: 0;
            }
        }
    }
    /* FIN Sección: Proceso */


    /* =======================================================
    ==================== Sección: Stories ====================
    ======================================================== */
    #stories {
        @extend .seccion-comun;
        .rotulo {
            z-index: 5;
            position: absolute;
            left: 1em;
            top: .5em;
            color: white;
        }

        .story {
            height: 35em;
            padding: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            &#story-a {
                background-image: url(../../assets/img/fotos/760x470-1.jpg);
            }
            &#story-b {
                background-image: url(../../assets/img/fotos/515x470-1.png);
            }

            .content {
                height: 100%;
                width:100%;
                position: relative;

                .foto {
                    max-height: 470px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .info {
                    padding: 2em;
                    position: absolute;
                    left: 0;
                    bottom:0;
                    width:100%;
                    max-width: 35em;

                    .titular {
                        padding-bottom: .3em;
                        margin-bottom: .3em;
                        border-bottom: 2px white solid;
                        font-size: 2em;
                        color: white;
                        font-weight: lighter;

                        a {
                            color: white;
                        }
                    }
                    .foto-usuario {
                        float: left;
                        width:12%;
                    }
                    .bajada {
                        float: right;
                        width: 88%;
                        font-size: 1.2em;
                        color: white;
                    }
                    .acciones {
                        ul {
                            margin: 0;

                            li {
                                font-size: 1.1em;
                                font-style: italic;
                                color: white;
                                text-decoration: underline;

                                a {
                                    padding-bottom: .3em 0 .2em;
                                    color: white;

                                    &:hover {
                                        background: black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    /* FIN Sección: Stories */

    /* ========================================================
    ==================== Sección: Register ====================
    ========================================================= */
    #register {
        @extend .seccion-comun;
        background: url(../../assets/img/bg/1280x380-1.jpg) no-repeat center center;
        background-size: cover;
        padding: 5em 0;
        color: white;

        .epigrafe {
            margin: 0;
            font-weight: lighter;
            font-size: 1.8em;
        }

        .botones {
            margin-top: 2em;

            a {
                margin: 0 .3em;
            }
        }

    }
    /* FIN Sección: Stories */
}


#wrap-busqueda {
    #busqueda {
        @extend .seccion-comun;
        background: url('../img/bg/1280x740-1.jpg') no-repeat left top;
        background-size: cover;
        padding: 8em 0 4em;
        color: white;
    }

    #resultados {
        padding: 3em 0;

        .resultado {
            margin: .5em 0;
            padding-top: 2em;
            padding-bottom: 2em;
            border-top: 1px $color-gris-claro solid;

            &:first-child {
                border: none;
            }

            .nombre {
                font-weight: lighter;
                margin: 0;
                font-size: 2em;

                a {
                    color: $color-azul;
                }

                em {
                    font-weight: bold;
                    color: $color-azul-marino;
                }
            }
            .descripcion {
                margin-top: .5em;
                font-size: 1em;

                em {
                    font-weight: bold;
                    color: $color-gris;
                }
            }
            .autor {
                color: $color-gris-semi;
                font-style: italic;
                font-size: .9em;
            }

            .valor {
                color: $color-gris-semi;
                font-size: 1em;

                span {
                    font-weight: bold;
                }
            }

            .busco {margin-top:1em;}

            .etiquetas {
                .etiqueta {
                    display: inline-block;
                    font-size: .9em;
                    background: $color-gris-semi;
                    color: white;
                    margin: .2em;
                    padding: .3em .6em;

                    em {
                        font-weight: bold;
                        color: $color-azul-marino;
                    }
                }
            }

            .titular {
                margin: 0;
                font-size: 1.2em;
                font-weight: bold;
                color: #596979;
            }
        }
    }
}



/*--------------------------------------------------------------------------
--------------------------- Modulos - Responsive ----------------------------
--------------------------------------------------------------------------*/
@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 47em) {
}

@media (max-width: 480px) {
}