// Reset Bootstrap
.btn {
    border:none;
    padding: .6em 1.5em;
}
.btn-success {
    background: $color-verde;
    &:hover {
        background: $color-verde-claro;
    }
}

.btn-primary {
    background: $color-azul-marino;
    color: white;
}
.btn-white {
    background: white;
    color: black;
}

.btn-white-minimal {
    @extend .btn-white;
    font-size: .9em;
    font-weight: bold;
    font-style: normal;
    border-radius: 0;
    padding: .1em .5em;
}

.caret {
    border-width: 3px;
}