.sprite {
    background:url(../img/sprite.png) no-repeat;
    display: inline-block;
    overflow: hidden;
}

.sprite-search {
    @extend .sprite;
    background-position: 0 0;
    width:15px;
    height:15px;
}

.sprite-flecha-video {
    @extend .sprite;
    background-position: -45px 0;
    width:53px;
    height:17px;
}

.sprite-play-video {
    @extend .sprite;
    background-position: 0 -69px;
    width: 56px;
    height: 56px;
}

.sprite-comillas {
    @extend .sprite;
    background-position: -148px 0;
    width: 50px;
    height: 38px;
}