//_variables.scss
$color-azul: #293b7c;
$color-azul-footer: #11283e;
$color-azul-dark: #000e53;
$color-azul-marino: #004e74;
$color-gris: #393939;
$color-gris-semi: #898989;
$color-gris-claro: #e1e3e5;
$color-verde: #00b967;
$color-verde-claro: #0dd569;

$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;